@media(min-width:1000px){
    .br-pc{display: inline-block;}
    .br-tb{display:none;}
    .br-sp{display:none;}
}


@media(max-width:1000px){
    .br-pc{display: none;}
    .br-tb{display:inline-block;}
    .br-sp{display:none;}

    .top{
        padding-top: 130px;
        padding-bottom: 100px;
    }

    .top h1{
        font-size:55px;
    }

    
    .tips{
        padding:90px 0px;
    }

    .tips h2{
        font-size: 38px;
    }

    .tip{
        width:100%;
    }

}

@media(max-width:670px){
    .br-sp{display:inline-block;}

    .top h1{
        font-size: 35px;
    }

    .top p{
        font-size: 15px;
    }

    .btn{
        font-size: 15px;
    }

    .tips{
        padding:70px 0px;
    }

    .tips h2{
        font-size: 25px;
    }

    .refresh{
        font-size:18px;
        padding:90px 50px;
    }

    .concentrate{
        font-size:18px;
        padding:90px 50px;
    }
}
